<h1>Add New Product</h1>
<form method="post" class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input type="text" name="name" id="name" required />
      <label for="name">Name</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="number" name="price" id="price" required />
      <label for="price">Price</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input type="url" name="image" id="image" id="price" required />
      <label for="image">Image</label>
    </div>
  </div>

  <div class="row">
    <select name="category" id="">
      {{#each categoryList}}
        <option value={{_id}}>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <button class="btn green">Add</button>
    </div>
  </div>
</form>