<h1>Add New Product</h1>
<form action="" method="post">
  <div>
    <label for="">
      Name
      <input type="text" name="name" placeholder="Product Name" required />
    </label>
  </div>

  <div>
    <label for="">
      Price
      <input type="number" name="price" placeholder="Product Price" required />
    </label>
  </div>

  <div>
    <label for="">
      Image
      <input type="url" name="image" placeholder="Product Image" required />
    </label>
  </div>

  <div>
    <select name="category" id="">
      {{#each categoryList}}
        <option value={{_id}}>{{name}}</option>
      {{/each}}
    </select>
  </div>

  <div>
    <button>Add</button>
  </div>
</form>