<h1>Category List</h1>;
<table border="1">
  <tr>
    <th>Category Name</th>
    <th>Category Description</th>
    <th>Menu</th>
  </tr>
  {{#each categoryList}}
    <tr>
      <td>{{name}}</td>
      <td>{{description}}</td>
      <td><a href="#">Edit</a></td>
      <td><a href="/category/delete/{{_id}}">Delete</a></td>
      <td></td>
    </tr>
  {{/each}}
</table>