<form action="" method="post" onsubmit="return checkPass();">
  <h4 class="center-align bold">Log In</h4>
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <label>Username</label>
      <input class="validate" type="text" name="username" required id="username" />
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12 m4 offset-m4">
      <label>Password</label>
      <input
        class="validate"
        type="password"
        name="password"
        required
        id="password"
      />
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col s12 m4 offset-m4 center-align">
      <input class="btn" type="submit" value="Sign In" />
    </div>
  </div>
</form>