<form action="" method="post">
  <input type="text" name="name" placeholder="Category Name" required />
  <br />
  <input type="text" name="name" placeholder="Category Description" required />
  <br />
  <button>Add</button>
</form>