<h1>Add New Product</h1>
<form action="" method="post" enctype="multipart/form-data">
  <label for="">
    Name
    <input type="text" name="name" id="" placeholder="Enter Name" required />
  </label>
  <br />
  <label for="">
    Price
    <input
      type="number"
      name="price"
      id=""
      placeholder="Enter Price"
      required
    />
    {{#if inputErrors.price}}
      <span class="error">
        {{inputErrors.price}}
      </span>
    {{/if}}
  </label>
  <br />
  <label for="">
    Image
    <input type="file" name="image" id="" placeholder="Choose Image" required />
  </label>
  <br />
  <select name="category" id="">
    {{#each categoryList}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <br />
  <input type="submit" value="Add" />
</form>